* {
    text-align: center;
    background-color: antiquewhite;
}
    
.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 500px;
}

.timer p {
    background-color: green;
    color: white;
    margin: 10px auto 0 auto;
    top: 15px;
    padding: 10px;
    text-align: center;
    max-width: 300px;
}

.timer span {
    background-color: green;
    color: white;
}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    border: 2px;
    border-color: black;
    padding: 20px;
}

.options button {
    display: block;
}

.hide {
    display: none;
}

#options {
    position: absolute;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

#score {
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    color: white;
    max-width: 200px;
    padding: 10px;
}

#score span {
    background-color: green;
    color: white;
}

#highscores {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}