.quiz, .scores {
    margin: 100px auto 0 auto;
    max-width: 500px;
}

p {
    margin: 15px 15px;
}

.landing {
    text-align: center;
}

.scoresHeader {
    position: absolute;
    top: 15px;
    left: 15px;
}

.timer {
    background-color: green;
    color: white;
    margin: 10px auto 0 auto;
    top: 15px;
    padding: 10px;
    text-align: center;
    max-width: 300px;

}

button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    border: 2px;
    border-color: black;
    padding: 20px;
}

.options button {
    display: block;
}

.hide {
    display: none;
}

#feedback {
    font-style: bold;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 15px;
    color: #fff;
    border-top: 2px solid #4B0082;
}
